.book-list-container {
    position: relative;
}

.is-loading {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 6em;

    background-color: rgba(242, 242, 242, 0.5);
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
      0% { background-color: rgba(242, 242, 242, 0); }
    100% {background-color: rgba(242, 242, 242, 0.5); }
}