<app-snack-message></app-snack-message>

<router-outlet></router-outlet>

<header class="header-top container">
    <div class="row align-items-center">
        <div class="col-9 col-md-6 header-title">
            <span class="material-icons">collections_bookmark</span>
            <h1>
                <span class="d-inline d-sm-none">S. S.</span>
                <span class="d-none d-sm-inline">Super Simple</span> Book Lending App
            </h1>
        </div>
        <div [class]="(!user.isLoggedIn ? 'offset-md-4 ' : '') + 'col-3 col-md-2 order-1 order-md-2'">
            <button class="btn btn-primary float-right" *ngIf="user.isLoggedIn" (click)="onLogoutClick($event)">Logout</button>
            <button class="btn btn-primary float-right" *ngIf="!user.isLoggedIn" routerLink="/login">Login</button>
        </div>
        <div class="col-12 col-md-4 order-2 order-md-1 text-md-right mt-2 mt-md-0" *ngIf="user.isLoggedIn">
            Hello {{ user.userId }}!
        </div>
    </div>
</header>

<main>
    <app-book-list></app-book-list>
</main>

<footer class="container text-white p-3 mb-3">
    <div class="row">
        <p class="col-12 col-md-6 col-lg-5 offset-lg-1 h5">Super Simple Book Lending App</p>
        <p class="col-12 col-md-6 col-lg-5 text-md-right">
            <a href="https://wtmimura.com" target="_blank" class="text-light">William Takashi Mimura (wtmimura.com)</a>
        </p>
    </div>
    <div class="row">
        <div class="col-12 col-md-2 offset-lg-1">
            <span class="h6">Made with: </span>
        </div>
        <div class="col-12 col-md-5">
            <ul>
                <li>Angular</li>
                <li>Bootstrap</li>
                <li>
                    Serverless
                    <ul class="ml-3">
                        <li>AWS Lambda</li>
                        <li>AWS DynamoDB</li>
                        <li>AWS APIGateway</li>
                    </ul>
                </li>
                <li>
                    Security (NodeJs)
                    <ul class="ml-3">
                        <li>JWT Token</li>
                        <li>BCrypt</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>